<!DOCTYPE HTML>
<!--Чтобы ассоциировать модуль с определенным куском html-страницы, нужно использовать директиву ng-app.
    Директива ng-app ассоциирует элемент <html> с модулем myApp:-->
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <!--В представлении устанавливается связь с контроллером с помощью директивы ng-controller:-->
    <body ng-controller="appController">
        <div class="page-header">
            <!--С помощью пары двойных фигурных скобок мы создаем выражения. 
                Выражения в AngularJS представляют вкрапления кода javascript в разметку html.
                В данном случае значение title берётся из глобального объекта $rootScope-->
            <h1>{{"# " + title}}</h1>
        </div>
        <div class="panel">
            <div class="form-inline">
                <div class="form-group">
                    <!--Вначале представления идет форма из двух элементов ввода и кнопки. 
                        Каждый элемент ввода имеет привязку к определенному объекту с помощью директивы ng-model:-->
                    <!--Привязка данных раскрывается через ряд директив:
                         ng-bind          : осуществляет привязку к свойству innerText html-элемента
                         ng-bind-html     : осуществляет привязку к свойству innerHTML html-элемента
                         ng-bind-template : аналогична ng-bind за тем исключением, что позволяет установить привязку сразу к нескольким выражениям
                         ng-model         : создает двустороннюю привязку
                         ng-non-bindable  : определяет участок html-кода, в котором привязка не будет использоваться
                
                        В особую группу директив можно выделить директивы, которые позволяют стилизовать элементы или управлять ими:
                         ng-style         : устанавливает у элемента стили css
                         ng-class         : задает элементу определенный класс
                         ng-class-even    : устанавливает класс для четных элементов
                         ng-class-odd     : устанавливает класс для нечетных элементов
                         ng-hide          : скрывает элемент
                         ng-show          : делает элемент видимым
                         ng-if            : задает для элемента некоторое условие
                        Дерективы событий:
                         ng-click         : обработка кликов
                         ng-blur          : определяет поведение для события blur, которое возникает при потере элементом фокуса
                         ng-focus         : определяет поведение для события focus, которое возникает при получении фокуса элементом
                         ng-change        : определяет поведение для события change, например, при нажатии на элемент input type="checkbox"
                         ng-submit        : определяет поведение для события submit, которое возникает при отправке формы
                         ng-copy/ng-cut/ng-paste: определяет поведение для событий копирования, вырезки и вставки соответственно
                         ng-dblclick      : та же ng-click, только обрабатывается двойное нажатие
                         ng-mousedown     : для обработки нажатия клавиши мыши
                         ng-mouseup       : для обработки отжатия мыши
                         ng-mouseenter    : для обработки наведения курсора в определенную область
                         ng-mouseleave    : для обработки ухода курсора с определенной области
                         ng-mousemove     : для обработки перемещения курсора мыши
                         ng-keydown       : обработка нажатия клавишы клавиатуры
                         ng-keypress      : обработка нажатия клавишы клавиатуры
                         ng-keyup         : обработка отжатия клавишы клавиатуры 
                        Ещё дерективы:
                         <ng-include>     : получает с веб-сервера фрагмент кода HTML, обрабатывает его и добавляет на html-страницу.
                         ng-switch        : (ng-switch-when, ng-switch-default) отображает фрагмент кода в зависимости от условия 
                        -->
                    <div class="col-md-8">
                        <input class="form-control" ng-model="product" placeholder = "Название" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="number" class="form-control" ng-model="price" placeholder="Цена" />
                    </div>
                </div>
                <div class="form-group">
                    <!--Для обработки нажатия кнопки определена директива ng-click="addItem(text, price)". 
                        В качестве обработчика здесь используется та функция, которая определена в $scope.addItem. 
                        А благодаря привязке элементов управления к моделям (ng-model="text") AngularJS будет знать, 
                        что в качестве параметров text и price надо подставлять в функцию значения соответствующих элементов управления.-->
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-default" ng-click="addItem(product, price)">Добавить</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Купить</th>
                    </tr>
                </thead>
                <tbody>
                    <!--При создании таблицы происходит перебор всех элементов в списке $scope.list.items 
                        с помощью директивы ng-repeat="item in list.items", 
                        которая во многом аналогична действию циклов в стиле "foreach".-->
                    <tr ng-repeat="item in list.items" ng-style="style(item.done)">
                        <td>{{$index + 1}}</td>
                        <td>{{item.product}}</td>
                        <td>{{item.price + " грн."}}</td>
                        <td><input type="checkbox" ng-model="item.done" /></td>
                    </tr>
                    <!--Возможна ситуация, когда объект в массиве, в свою очередь, сам содержит массив, и этот массив тоже надо обойти. 
                        В этом случае можно использовать вложеные директивы ng-repeat.-->
                    <!--При обходе массивов мы можем использовать ряд встроенных переменных AngularJS:
                         $index  : возвращает индекс элемента в массиве
                         $first  : возвращает true, если элемент является первым в массиве
                         $last   : возвращает true, если элемент является последним в массиве
                         $middle : возвращает true, если элемент не является ни первым, ни последним в массиве
                         $even   : возвращает true, если элемент является четным
                         $odd    : возвращает true, если элемент является нечетным-->
                </tbody>
            </table>
        </div>
 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script>

// Модель хранит данные приложения:
var model = {                                  
    items: [
        { product: "Jack Daniels",                             done: true,  price: 620  },
        { product: "John Jameson",                             done: true,  price: 540  },
        { product: "Chivas Regal 12 Years Old",                done: false, price: 740  },
        { product: "Ardbeg 10 Years Old",                      done: false, price: 1540 },
        { product: "Jim Beam Bourbon",                         done: true,  price: 410  },
        { product: "Baileys Original",                         done: false, price: 550  },
        { product: "Johnnie Walker Red Label",                 done: true,  price: 460  },
        { product: "Courvoisier VSOP",                         done: false, price: 1040 },
        { product: "Chartreuse Verte",                         done: true,  price: 920  },
        { product: "Zacapa 23 Years Old",                      done: false, price: 1380 },
        { product: "Dalwhinnie Game of Thrones Winters Frost", done: false, price: 2080 },
        { product: "Russian Vodka",                            done: false, price: 60   }
    ]
};

// Приложение состоит из одного или несколько модулей, поэтому вначале объявляется модуль myApp:
var myApp = angular.module("myApp", []);     
/* Для создания модуля используется метод angular.module(). Этот метод принимает три параметра, два из которых являются обязательными:
     1) Название модуля. Согласно соглашениям о наименовании модуль должен иметь суффикс App;
     2) Набор других модулей в виде строкового массива, от которых данный модуль зависит;
     3) Конфигурационные настройки модуля;
   Для получения ранее созданного модуля используется метод angular.module() с одним параметром - angular.module("myApp").
*/        
/*Объект Module имеет ряд методов, наиболее используемые из них:
     .config(callback)               : регистрирует функцию callback, которая используется для его конфигурации в процессе загрузки;
     .constant(key, value)           : определяет сервис, который возвращает константное значение value;
     .controller(name, constructor)  : создает контроллер;
     .directive(name, factory)       : создает директиву, которая расширяет стандартную разметку html;
     .factory(name, provider)        : создает службу;
     .filter(name, factory)          : создает фильтр;
     .provider(name, type)           : создает сервис;
     .service(name, constructor)     : создает сервис;
*/
// Здесь у модуля используется метод run(callback), который регистрирует функцию, вызываемую при загрузке модуля. 
// В этой функции устанавливается объект $rootScope.
myApp.run(function($rootScope) {
    $rootScope.title = "Прайс-лист:";
})
/* Каждое приложение AngularJS имеет один объект $rootScope, который является родительским по отношению ко всем остальным объектам $scope, 
   которые используются в контроллерах. И при запуске приложения создается привязка элемента, 
   в котором используется директива ng-app, к объекту $rootScope. 
   То есть это такой глобальный объект $scope, который мы можем использовать по всему приложению.
*/
// Ключевым звеном приложения является контроллер, который управляет бизнес-логикой, обьявляем контроллер appController:
myApp.controller("appController", function ($scope) { 
// С помощью метода .controller у ранее определенного модуля создается контроллер appController. 
// Подобно модулю контроллеры также могут устанавливать контекст и определять использовать свой объект $scope:
// Вторым параметром в эту функцию передается функция, которая устанавливает объект $scope. 
// $scope - это специальный объект, через который контроллер передает данные в представление.
    // В данном случае в объекте $scope устанавливается объект list, хранящий все элементы модели,
    $scope.list = model;
    // Также устанавливаем метод style, для стилизации выбранных элементов.
    $scope.style = function(done) {
        if(done) {
            return {color: '#26a300'}
        }
    }
    // и метод addItem, который будет использоваться для добавления новых элементов в модель.
    $scope.addItem = function (product, price) { 
        // преобразуем введенное значение к числу:
        price = parseFloat(price); 
        // если текст установлен и введено число, то добавляем в модель:
        if(product != "" && !isNaN(price)) { 
            $scope.list.items.push({ product: product, price: price, done: false });
        }
    }
});
        </script>
    </body>
</html>